* {
  margin: auto;
}
html {
  scroll-behavior: smooth !important ;
  overflow-x: hidden !important ;
  height: auto !important ;
  width: auto !important ;
 background-color: #faece4;
}
h1, h2{
  font-family:'Poppins', sans-serif;
  color: #BA68C8;
}
/* Section One - Landing Page */
.hero {
  min-width: 100%;
  background-color: #212121;
  color: #fff;
  padding: 100px 0;
  margin-bottom: 50px !important;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  flex: 1;
}
.typed-text{
    color:#d38edf ;
}

.hero-text h1 {
  color: #f8f8f8;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top:100px;
  position: relative;
  bottom: 10rem;
}

.hero-text p {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
}

.hero-image {
  max-width: 100%;
}

.hero button {
  background: #d38edf;
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 10px 0;
  margin-inline: 10px;
}
.hero button:hover{
    background: #BA68C8;
}
.hero a {
  text-decoration: none;
  color: #f8f8f8;
  font-size: 15px;
}
@media screen and (min-width: 1024px) {
  .hero-text {
    max-width: 700px;
    position: relative;
    right: 50px;
  }
  .hero-text h1 {
    position: relative;
    bottom: 15rem;
  }
  .hero-text p {
    font-size: 20px;
    position: relative;
    bottom: 15rem;
  }
  .hero button {
    position: relative;
    padding: 15px 20px;
    border-radius: 20px 0;
    top: -10px;
    right: 50rem;
    margin-top: 50px;
    margin-inline: 20px;
  }
  .hero a {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 20px;
  }
  .hero-image img{
    width: 200%;
    position: relative;
    right: -150px;
    bottom: 100px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
  .hero{
    position: relative;
    top: -120px !important; 
  }
  .hero-text {
    flex: 1;
    margin-bottom: 0px;
  }.hero-text{
    position: relative;
    top:200px;
  }
  .hero-text p{
    display: none;
  }
  .hero-image img{
    width: 100%;
    position: relative;
    bottom: 0px;
  }
  .hero button{
    position: relative;
    bottom: 0px;
  }
}
/* Section Two - About Page */
.about-container {
  background: transparent;
  display: flex;

  justify-content: space-between;
  align-items: center;
 height: 50%;
}

.about-text {
  flex: 1;
  padding-right: 50px;
}

.about-text h2 {
  font-family:'Poppins', sans-serif;
  letter-spacing: 10px;
  white-space: 20px;
  font-size: 36px;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
}

.about-text p {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
}

.about-image img {
  max-width: 100%;
}
@media screen and (min-width: 1023px) {
.about-container{
  min-height: 100% !important;
  margin: 80px;
}
.about-text h2{
  margin-bottom: 30px;
  position: relative;
  left: 350px;
}
.about-image img{
  width: 600px;
}
}
@media screen and (max-width: 767px) {
  .about-container{
    width:90%!important;
    height:50% !important;
  }
}

/* Section Three - Services Page */
.service-section {
  background-color: #212121;
  padding: 100px 0;
  text-align: center;
}


/* Section Four - Contact Page */
.contact-section {
  height: 100%;
  background: transparent;
  padding: 200px 0;
}

.contact-content {
  align-items: center;
}
.contact-section h2 {
  font-family:'Poppins', sans-serif;
letter-spacing: 10px;
  font-size: 40px;
   margin-bottom: 100px;
   margin-left: 100px;
}
.contact-img{
  width: 50%;
  float: right;
  position: relative;
  bottom: 22rem;
}
.contact-img img{
  padding: 30px;
  width:100;
}
.contact-section .cta {
  position: relative;
  left: 200px;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.contact-section .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #BA68C8;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.contact-section .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #2F3D44;
}

.contact-section .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #d387e0;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.contact-section .cta:hover:before {
  width: 100%;
  background: #480255;
}

.contact-section .cta:hover svg {
  transform: translateX(0);
}

.contact-section .cta:active {
  transform: scale(0.95);
}
