* {
  margin: auto;
}
html {
  scroll-behavior: smooth !important ;
  overflow-x: hidden !important ;
  height: auto !important ;
  width: auto !important ;
}
body{
  background-color: #f7f7f7;
}
h1, h2{
  font-family:'Poppins', sans-serif;
 
}
h1, h2, h3, h4, h5, h6, p {
  font-size: clamp(1rem, 2vw, 2rem);
  color: #f7f7f7;
}

.landing-page {
  display: inline-block; 
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
margin-bottom: 0;
}

.landing-page .background-image {
 
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
}
.landing-page .background-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landing-page .background-image::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust the height of the blurred area */
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.863));
  filter: blur(10px); /* Adjust blur intensity */
  z-index: 1;
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

 .main-heading {
  color: #212121;
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  bottom: 150px;
}

.sub-heading {
  color: #ffffff;
  width: 100%;
  font-size: 1.7rem;
  position: relative;
  bottom: 150px;
}
/* Your existing styles here */

.animated-word {
  color: #580ef6;
  animation: wordAnimation 4s infinite;
  display: inline-block;
  opacity: 0;
}

@keyframes wordAnimation {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  25%, 75% {
    transform: translateY(10px);
    opacity: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .text-container {
    width: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .main-heading {
    color: #ffffff;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    bottom: 150px;
  }
  
  .sub-heading {
    color: #ffffff;
    width: 100%;
    font-size: 1.7rem;
    /* position: relative;
    bottom: 150px; */
  }
}
@media screen and (max-width: 767px) {
  .landing-page{
    max-height: 50% !important;
  }
  .text-container {
    width: 100%;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .main-heading {
    color: #d901ff;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    bottom: 150px;
  }
  
  .sub-heading {
   text-align: center;
    color: #ffffff;
    width: 100%;
    font-size: 1.7rem;
    position: relative;
    bottom: 150px;
  }

  .background-image img {
    filter: blur(3px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
.animated-word {
  color: #d901ff;
  animation: wordAnimation 4s infinite;
  display: inline-block;
  opacity: 0;
}
}
/* Section Two - About Page */
.about-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.about-section .background-image::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust the height of the blurred area */
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.87));
  filter: blur(10px); /* Adjust blur intensity */
  z-index: 1;
}
.push{
  width: 80%;
  position: absolute;
  bottom: 20px;
  left: 45%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 2; /* Ensure text is on top of the overlay */
}

.about-section .main-heading {
  color:#fff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {
  .push{
    position: absolute;
    top: 200px !important;
  }
 .about-section .sub-heading{
  display: flex;
  justify-content: center;
  }
}


/* Section Three - Services Page */
.service-section {
  background-color: transparent;
  min-width: 100% !important;
 
  padding: 100px 0;
  text-align: center;
}
.service-section .main-heading{
 position: relative;
 top: 5px;
}

/* Section Four - Contact Page */

.contact-container {
  text-align: center;
  padding: 50px;
}

.contact-container h2 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-content {
  flex: 1;
  padding-right: 50px;
}

.right-content {
  flex: 1;
  display: flex;
  align-items: center;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.fancy-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fancy-button:hover {
  background-color: #555;
}

img {
  max-width: 100%;
  height: auto;
}
